stages:
  - release

release:
  stage: release
  image: python:3.11-slim
  before_script:
    - pip install requests
  script:
    - python create_gitlab_release.py
  only:
    - tags
  variables:
    GITLAB_TOKEN: $CI_JOB_TOKEN
